<%= form_with(model: admin_category, url: params[:action] == 'edit' ? admin_categories_path(@admin_category) : admin_categories_url, method: params[:action] == 'edit' ? 'put' : 'post', local: true) do |form| %>
  <% if admin_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
        <% admin_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.text_field :name %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
