<%debugger %>
<%= form_with(model: blog,url: params[:action] == 'edit' ? admin_blog_path(@blog) : admin_blogs_url, method: params[:action] == 'edit' ? 'put' : 'post', local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>
<% selected = blog.categories&.map{|x| [x.id, x.name]} %>
  <div>
    <%= select_tag 'categories[]', options_from_collection_for_select(@categories, :id, :name, selected), {multiple: true}%>
  </div>

  <div>
    <%= form.file_field(:featured_image) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
