<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @blog.slug %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<%= link_to 'Edit', edit_admin_blog_path(@blog) %> |
<%= link_to 'Back', admin_blogs_path %>
