<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= content_for?(:title) ? yield(:title) : 'Narendran - Software Engineer' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'rich_text', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'jquery', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'images', 'data-turbolinks-track': 'reload' %>
    <%= yield :page_level_style %>
    <%= yield :stylesheets %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
